#container {
    display: inline-grid;
    width: 70vh;
    height: 70vh;
    font-size: 2px;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
}

#clear-button {

}

#size-slider {

}

#size-text {
    
}
.block:hover {
    background-color: yellow;
}